[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.7.2"
django = "==4.1"
django-jazzmin = "==2.6.0"
pillow = "==9.5.0"
sqlparse = "==0.4.4"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.11"
