{% load static %} <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    {% include 'base/headCss.html' %}
  </head>

  <body>
    <!--Top navbar -->
    {% include 'base/topNav.html' %}
    <!--navbar-->
    {% include 'base/navbar.html' %}

    <!-- header ends -->
    {% block content %}
    <section class="about-section">
      <div class="about-content">
        <div class="about-image">
          <img src="{{about.image.url}}" alt="About Image" />
        </div>
        <div class="about-text">
          <h2 class="about-heading">About Us</h2>
          <p>{{about.text}}</p>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <h2>Our Team</h2>

        <div class="row vh-65">
          {% for team in teams %}
          <div class="col-sm-6 col-lg-6 my-auto">
            <div class="box shadow-sm p-4">
              <div class="image-wrapper mb-3">
                <img
                  class="img-fluid"
                  src="{{team.image.url}}"
                  alt="{{team.name}} image "
                />
              </div>
              <div class="box-desc">
                <h5>{{team.name}}</h5>
                <p>{{team.position}}</p>
                <p>{{team.description}}</p>
              </div>
              <ul class="social">
                <li>
                  <a href="{{team.facebook_link}}"
                    ><i class="fab fa-facebook-f"></i
                  ></a>
                </li>
                <li>
                  <a href="{{team.instagram_link}}"
                    ><i class="fab fa-instagram"></i
                  ></a>
                </li>
                <li>
                  <a href="{{team.linkedin_link}}"
                    ><i class="fab fa-linkedin"></i
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

    <div class="container mt-2">
      <h2 style="color: #00f">Our Services</h2>
      <div class="row">
        {% for service in services %}
        <div class="col-md-3 col-sm-6 item">
          <div class="card item-card card-block">
            <h4 class="item-card-title text-right">
              <i class="fa-brands fa-servicestack"></i>
            </h4>
            <img src="{{service.image.url}}" alt="Photo of sunset" />
            <h5 class="card-title px-3 py-1 mt-3 mb-3">{{service.name}}</h5>
            <p class="card-text px-3 py-1">{{service.text|truncatechars:50}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    {% include 'base/partners.html' %}

    <!-- footer section starts -->
    {% include 'base/footer.html' %}

    <!-- footer section ends -->

    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

    <!-- custom js file link  -->
    <script src="{% static 'js/script.js' %}"></script>

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    <script src="{% static 'js/script.js' %}"></script>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
      const swiper = new Swiper(".swiper-container", {
        autoplay: {
          delay: 3000,
          disableOnInteraction: false,
        },
        loop: true,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
    </script>
    <script>
      $(document).ready(function () {
        $(".customer-logos").slick({
          slidesToShow: 6,
          slidesToScroll: 1,
          autoplay: true,
          autoplaySpeed: 1500,
          arrows: false,
          dots: false,
          pauseOnHover: false,
          responsive: [
            {
              breakpoint: 768,
              settings: {
                slidesToShow: 4,
              },
            },
            {
              breakpoint: 520,
              settings: {
                slidesToShow: 3,
              },
            },
          ],
        });
      });
    </script>
    <script>
      function slideCarousel() {
        const carouselContainer = document.querySelector(
          ".carousel-container-4"
        );
        const carousel = carouselContainer.querySelector(".carousel");
        const slides = carousel.querySelectorAll(".slide");
        const slideWidth = slides[0].offsetWidth;
        let currentPosition = 0;

        carousel.style.transform = `translateX(${currentPosition}px)`;

        function nextSlide() {
          if (currentPosition > -(slideWidth * (slides.length - 4))) {
            currentPosition -= slideWidth;
            carousel.style.transform = `translateX(${currentPosition}px)`;
          }
        }

        function prevSlide() {
          if (currentPosition !== 0) {
            currentPosition += slideWidth;
            carousel.style.transform = `translateX(${currentPosition}px)`;
          }
        }

        carouselContainer.addEventListener("mouseenter", () => {
          carouselContainer.addEventListener("mousemove", handleMouseMove);
        });

        carouselContainer.addEventListener("mouseleave", () => {
          carouselContainer.removeEventListener("mousemove", handleMouseMove);
        });

        function handleMouseMove(event) {
          const containerWidth = carouselContainer.offsetWidth;
          const containerCenter = containerWidth / 2;
          const mousePosition =
            event.clientX - carouselContainer.getBoundingClientRect().left;

          if (mousePosition < containerCenter && currentPosition !== 0) {
            prevSlide();
          } else if (
            mousePosition > containerCenter &&
            currentPosition > -(slideWidth * (slides.length - 4))
          ) {
            nextSlide();
          }
        }
      }

      slideCarousel();
    </script>

    <script>
      // Get a reference to the button element
      var button = document.getElementById("button");

      // Add an onclick event listener to the button
      button.addEventListener("click", function () {
        // Redirect to mem.html
        window.location.href = "mem.html";
      });
    </script>
    <script>
      function toggleNavbarToggler() {
        const navbarToggler = document.getElementById("customNavbarToggler");
        const navbarCollapse = document.querySelector(
          ".custom-navbar-collapse"
        );

        if (window.innerWidth >= 992) {
          navbarToggler.classList.add("hide-on-big-screens");
          navbarCollapse.classList.remove("collapsed"); // Expand the menu on big screens
        } else {
          navbarToggler.classList.remove("hide-on-big-screens");
          navbarCollapse.classList.add("collapsed"); // Collapse the menu on small screens
        }
      }

      window.addEventListener("load", toggleNavbarToggler);
      window.addEventListener("resize", toggleNavbarToggler);

      document.addEventListener("DOMContentLoaded", function () {
        var toggler = document.querySelector(".custom-navbar-toggler");
        var navbarCollapse = document.querySelector(".custom-navbar-collapse");

        toggler.addEventListener("click", function () {
          navbarCollapse.classList.toggle("collapsed");
        });

        toggleNavbarToggler(); // Call the function when the DOM content is loaded
      });
    </script>
  </body>
</html>
{% endblock content %}
